body {
	font-family:'Raleway';
	background:#333;
}
.main {
	width:90%;
	margin:2em auto;
	/*background:white;*/
}
.title {
	font-size:2em;
	text-align:center;
	text-transform: uppercase;
	color:white;
}

.svgholder {
	width:100%;
	overflow:scroll;
	/*border:1px solid black;*/
}
svg {
}
.weightval {
	width:3em;
}

.panel {
	margin-right:0.5em;
	margin-bottom:0.5em;
	background:white;
	border-radius:4px;
}
.panelheader {
	width:100%;
	background:#e3e3e3;
	border-radius:4px;
}
.panelheader h2 {
	font-size:1.2em;
	margin:0;
	padding:0.4em 0.7em;
}

.ui {
	display:flex;
	flex-direction:row;
	width:100%;
}
.leftside {
	flex-grow:1;
	max-width:70%;
}
.rightside {
	flex-grow:1;
	display:flex;
	flex-direction: column;
}
.rightside .panel {
	flex-grow:1;
}
.rightside .convolve.convolve, .rightside .current.current {
	flex-grow:0;
}
.convolve h3 {
	margin:0;
	text-align:center;
	padding:0.5em;
	background:#e3e3e3;
	border-radius:3px;
	transition: background 0.1s, color 0.1s;
}
.convolve h3:hover {
	background:#88F;
	color:white;
	cursor:pointer;
}

.window {
	width:100%;
	display:flex;
	flex-direction:row;
}
.window input {
	margin:0.2em;
	border:2px solid #e3e3e3;
	text-align:center;
	flex-grow:1;
	font-size:16pt;
	max-width:5em;

}

.commonwindows {
	padding:0.5em;
	padding-bottom:0;
	margin:0 auto;
	margin-bottom:-3em;
	display:flex;
	flex-direction: row;
	max-width:300px;
	overflow-x:scroll;
}
.commonwindow {
	position:relative;
	width:33%;
	border:1px solid black;
	margin-right:0.2em;
	margin-bottom:0.2em;
	display:inline-block;
	background:#e3e3e3;
}
.commonwindow svg {
	margin:0;
	padding:0;
}
.desc {
	padding:0;
	margin:0;
	width:100%;
	background:rgba(0, 0, 0, 0.7);
	color:white;
	position:absolute;
	text-align:center;
	width:100%;
	height:100%;
	opacity:0;
	transition:opacity 0.2s;
}
.desc:hover {
	cursor:pointer;
	opacity:1;
}

.datasets {
	padding:0.2em;
	margin-bottom:-3em;
}
.datasets td {
	background:#e3e3e3;
	color:black;
	padding:0.3em 0.4em;
	text-align:center;
	margin: 0.5em;
}
.datasets td:hover {
	cursor:pointer;
	background:#888;
	color:white;
}